html {

}

body {
	margin: 0;
 overflow: hidden;
}
body * {
  transform:translate3d(0,0,0);
  transform-style: preserve-3d;
  transform-origin:100% 50%;
}
/*
* {
	border: 1px solid green;
}
*/

/*PARALLAX SCROLL*/

#mainwrapper {
   perspective: 1px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  height: auto;
  top: 20mm;
  bottom: 0;
}
#mainwrapper>div {
  position: absolute;
  height: 3840px;
  width: 100%;
}

.scrollwrapper {
  overflow: hidden;
  width: 100%;
  height: auto;
}

.scr_bg {
  transform: translateZ(-13px) scale(11);
}
#bg2 {transform: translateZ(-1px) scale(11);

}
.scr_mg {
  transform: translateZ(0.1px);
}
.scr_fg {
  transform:translateZ(0.2px) scale(.75);

}


main {
  position: relative;
  width: 100%;
}


/* HEADER AND MENU */
header {
	width: 100%;
	height: 20mm;
	/*background-color: #467B87;*/
	/* light pink bg: background-color: #FCF5F9;*/
  background-color: rgba(70,123,135,1);
	margin: 0;
	font-family: "Questrial", sans-serif;
	font-weight: 300;
	color: #FFDEEE;
	position: fixed;

	z-index: 100;
}

header h1 {
	font-size: 35pt;
	float: left;
	font-weight: 300;
	margin: 1.1% 0 1.5% 40pt;
}

header h1 a {
	color: #FFDEEE;
	text-decoration: none;
}
header h1 a:hover, header h1 a:focus {
	color: #0034D8;
}

#nav_menu ul {
	float: right;
	list-style-type: none;
	position: absolute;
	right: 0;
	top: 75px;
	bottom: 0;
	margin: auto 8% auto 0;
	height: 1em;
}

#nav_menu ul li {
	float: left;
	font-size: 19pt;
	line-height: 0.6em;
}

#nav_menu ul li a {
	float: left;
	font-size: 19pt;
	display: block;
	text-decoration: none;
	color: #FFDEEE;
	padding: 0 2em;
}

#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	color: #0034D8;
}

/* MOBILE MENU */

#mobile_menu ul li a {
	text-decoration: none;
	color: #FFDEEE;
	font-size: 25px;
}

#mobile_menu ul li {
	list-style-type: none;
	margin-bottom: 10px;
}

#mobile_menu>ul {
	transition: transform 1s ease;
	position: absolute;
	right: 0;
	top: 16mm;
	width: 50mm;
	height: 30mm;
	background-color: rgba(70,123,135,1);
  transform-origin: 100% 0;
  z-index:-9999
}

#mobile_menu>ul.hidden {
  transform: rotateY(90deg);
}

#mobile_menu>svg {
	position: absolute;
	right: 0;
	top: 0
}
.mobile_button {
	right: 0;
	position: absolute;
	top: 0;
	width: 20mm;
	font-size: 50px;
	line-height: 20mm;
	text-align: center;
  z-index: 100;
}
.mobile_button:before {
	content: "\2261";
	cursor: pointer;
}

/* PAGE POSITIONING */

.page {
	width: 100%;
	height: 960px;
	position: relative;
}

a[name] {
	position: absolute;
	left: 0;
	top: -30mm;
	/* border-bottom: 3px solid purple; */
	width: 300px;
	height: 5px;
}


/* CONTENT FORMATTING */

h2 {
	font-family: "Quicksand", sans-serif;
	font-style: italic;
  font-size: 30px;
	color: #D34C47;
	margin: 0;
}
#welc_col_1>div {
 /* margin-left: 63px;*/
}

#prj_col_1>div {
 /* margin-left: 58px;*/
}
.prj_cont {
  /*margin-left: 23px;*/
}

 #contct_col1>div {
 /*  margin-left: 56px;*/
}

#prj_col_3 {
 /* float: right*/
 /* top: -280px;*/
}

.column {
  float:left;
  position:relative;
  height: 300px;
 /* margin-left: 40px;*/
}
.column>div {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 400px;
}
.shape {
  position:absolute;
  z-index:-100;
 /* transform: translate3d(-20%, -100%, 0);*/
}

.contentblock {

	font-family: "europa",sans-serif;
	font-size: 14px;
    line-height: 1.5em;
    letter-spacing: 1px;
    font-weight: 300;
    font-style: normal;
    color: grey;

    height: 300px;
    width: 300px;
   /* margin-left: 40pt;*/
    padding: 20px;

    background-color: white;
    }
#cbbio {
	width: 350px;
	height: 300px;
}
 .workimg {
 	float: right;
 	margin: 15px;
 	border-radius: 20px;
 }

.worktitle {
	clear: right;
	font-family: "Quicksand", sans-serif;
	font-weight: 600;

	margin-left: 10px;
	padding-top: 10px;
}
.worktitle a {
	color: #0034D8;
	text-decoration: none;
}
.worktitle a:visited {
	color: #0034D8;
}

.workdescript {
	margin-left: 10px;
	margin-top: 0;
	font-family: "europa",sans-serif;
}

/* CONTACT FORM */


form {
	margin: 0;
	padding: 0;
  width: 100%;
  height: 100%;
}

input[type=text], input[type=email] {
	border: none;
	background-color: #FCF5F9;
	width: 230px;
	height: 40px;
	margin: 8px;
	font-family: "quicksand";
	font-size: 13pt;
	color: black;
	padding-left: 1em;

}

input[type=text]:focus, input[type=email]:focus {

}
textarea {
	border: none;
	background-color: #FCF5F9;
	width: 330px;
	height: 150px;
	font-family: "quicksand";
	font-size: 13pt;
	color: black;
	padding: 1em;

}

#formfields1 {
	width: 320px;
	height: 229px;
	padding-top: 1.5em;
	padding-left: 1.5em;
	margin-left: 50pt;
}
#formfields2 {
	width: 366px;
	height: 229px;
	padding: 1.5em;
}

input[type=submit] {
	background-color: rgba(70,123,135,.7);
	color: white;
	border: none;
	width: 100px;
	height: 30px;
	font-family: "quicksand";
	font-size: 13pt;
	margin-top: 10px;
}

/* FOOTER */

footer {
	background-color: rgba(70,123,135,1);
	width: 100%;
	height: 40mm;
  position:absolute;
  bottom:-50mm;
  transform-origin: 50% 50%;
  margin-left: 0;
}
footer p {
	color: white;
	font-family: "quicksand";
	font-size: 14pt;
	margin-left: 80px;
	padding-top: 30px;
}

/* BG PATTERN */

#bgimgpatternback, #bgimgpatternfront {
	width: 12000px;




	height: 2920px;


}

@keyframes fade1 {
from { fill:rgba(0,0,0,1); }
to { fill:rgba(0,0,0,0.05); }

}
#New_Pattern_2 { animation:fade1 2.5s forwards 1s alternate; }

.background {
position:absolute;z-index:-10000;
}
#bgimgpatternback pattern {
animation:fade1 2.5s forwards 1s alternate;
}

/* RESPONSIVE */



@media screen and (min-width: 961px) {
	.column {
    width: 50%;
  }
  .column:first-child>div {
    left: 15%;
  }
}

@media screen and (min-width: 1001px) {
	#mobile_menu {
		display: none;

	}
}

@media screen and (min-width: 1300px) {
	.column {
    width: 33%;
  }
}



@media screen and (max-width: 960px) {
	.column {
    width: 100%;
  }
  .column>div {
   /* right: 15%;*/
  }
}

@media screen and (max-width: 1000px) {
	#mobile_menu {
		display: block;
		position: absolute;
		right: 0;
	}
	#nav_menu {
		display: none;
	}
	header h1 {
		font-size
	}
}


